body {
    font-family: Arial, Helvetica, sans-serif;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
}

.cont {
    background: white;
    text-align: center;
    border-radius: 10px;
    padding: 30px;
}

#selectDice, #rollButton {
    padding: 10px;
    margin: 10px;
    font-size: 24px;
}

label {
    font-size: 24px;
}

#result {
    font-size: 32px;
    font-weight: bold;
    margin-top: 20px;
}